*{
    /* margin-top:4px; */
    margin:0;
}
.image{
    width:250px;
    height:265px;
    border: 2px solid red;
   margin-top: 0px;
      
    }
    .movieRating{
        margin-bottom: 0px;

    }
.liste{
   
    border-radius: 10px;
  
    background: linear-gradient(138deg, rgba(233,254,251,1) 0%, rgba(204,197,197,1) 100%);
   
    overflow: hidden;
    display: flex;
/* justify-content: space-between; */
flex-direction: column;
border: 2px solid  black ;
height: 500px;
width:250px;
margin-bottom: 30px;
margin-right: 20px;
    }
    .lign{
        display:flex;
        justify-content: space-around;
    }
    .taillebtn{
        widows: 75px;
        height: 42px;
        border-radius: 4px;
        margin-top: 2px;
        background-color:#0069D9;
        color:white;

    }
    .marg{
        height: 40px;
        border-radius: 10px;
        background-color:#0069D9;
        color:white;

    }